@import url("./global.css");

header {
    background-image: url("../images/HeaderBackground-Mobile.png");

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 24px;
    gap: 24px;
}

h2 {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

p {
    font-family: "Open Sans", serif;
    font-size: 1rem;
}

header h2 {
    width: 50%;
    color: #FFF;
    text-transform: uppercase;
}

header p {
    color: #FFF;
}

header button {
    text-align: center;
    border-radius: 28px;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
}

.primary-button {
    background-color: #FFF;
    color: #000;
}

.dark-primary-button {
    background-color: #23272A;
    color: #FFF;
}