@import url("./global.css");

header {
    background-image: url("../images/HeaderBackground-Mobile.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 24px;
    gap: 24px;
}

h2 {
    font-family: "Luckiest Guy", serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}

p {
    font-family: "Open Sans", serif;
    font-size: 1rem;
    color: #23272A;
}

header h2 {
    width: 50%;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
}

header p {
    color: #FFF;
    line-height: 21px;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

header button {
    text-align: center;
    border-radius: 28px;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
}

.primary-button {
    background-color: #FFF;
    color: #000;
}

.dark-primary-button {
    background-color: #23272A;
    color: #FFF;
}

.main-section {
    display: flex;
    flex-direction: column;
    gap: 27px;

    padding: 40px 24px;
    text-align: left;
}

#meeting-content, #connection-content {
    display: flex;
    flex-direction: column;
    gap: 27px;

    padding: 40px 24px;
    text-align: left;
}

.main-section picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#meeting-content picture, #connection-content picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-info {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.section-info h3 {
    font-family: "Open sans", serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #23272A;
}

.gray-background {
    background-color: #F6F6F6;
}

#connection-content h2 {
    font-weight: 400;
} 

footer {
    background-color: #23272A;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 140px;
}

footer img {
    height: 45px;
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    header {
        background-image: url("../images/HeaderBackground.png");

        text-align: center;
        align-items: center;
    }

    header h2 {
        text-align: center;
    }

    .header-buttons {
        width: 100%;
    }
}

@media screen and (min-width: 637px) {
    header h2 {
        width: 30%;
    }
}

@media screen and (min-width: 768px) {
    header {
        background-position: center;
        background-size: initial;
    }


    header h2 {
        width: 25%;
    }

    .header-buttons {
        flex-direction: row;
        justify-content: center;
    }


    .main-section {
        max-width: 970px;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    .section-info {
        justify-content: center;
    }

    .section-info h3 {
        font-size: 2.5rem;
        line-height: 54px;
    }

    #meeting-content, #connection-content {
        gap: 16px;
    }

    #meeting-content {
        flex-direction: row-reverse;
    }

    #connection-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 40px;
        text-align: center;
    }

    #connection-content h2 {
        width: 60%;
    }

}